<div class="modal-header">
    <h5 class="modal-title">Détails du Mouvement</h5>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Fermer" [disabled]="isLoading">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body" *ngIf="selectedItem">
    <app-loading [loading]="isLoading"></app-loading>
    <form #detailForm="ngForm" (ngSubmit)="update()">
        <div class="form-row">
            <div class="form-group col-md-12" [ngClass]="{'form-group-error': detailForm.submitted && (!mouvementInfrasValid || !frequencesValid)}">
                <label>Infrastructures Concernées <strong style="color: red">*</strong>:</label>
                <div class="input-group-append mb-3" *ngIf="isEditing">
                    <button type="button" (click)="openPopup(infrastructureListModal); validateMouvementInfras()" class="btn btn-add" [disabled]="isLoading">
                        <i class="fas fa-building"></i> Sélectionner une Infrastructure
                    </button>
                </div>
                <div class="table-responsive" *ngIf="selectedItem.mouvementInfras.length > 0">
                    <table class="table table-normal">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Modèle</th>
                            <th>Capacité</th>
                            <th>Fréquence</th>
                            <th *ngIf="isEditing">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let mvt of selectedItem.mouvementInfras; let i = index; trackBy: trackByIndex">
                            <td>{{ mvt.infrastructure.nom +" "+mvt.infrastructure.numero|| 'N/A' }}</td>
                            <td>{{ mvt.infrastructure.modeleInfra?.nom || 'N/A' }}</td>
                            <td>{{ mvt.infrastructure.capacite || 0 }}</td>
                            <td>
                                <select
                                        class="form-control"
                                        [(ngModel)]="selectedItem.mouvementInfras[i].frequence.id"
                                        name="frequence{{i}}"
                                        #frequence="ngModel"
                                        required
                                        (ngModelChange)="onFrequenceChange()"
                                        [ngClass]="{'form-group-error': frequence.touched && !frequence.valid}"
                                        [disabled]="!isEditing"
                                >
                                    <option [ngValue]="null">-- Sélectionnez la fréquence du tarif --</option>
                                    <option *ngFor="let frequence of frequences" [ngValue]="frequence.id">{{ frequence.libelle }}</option>
                                </select>
                                <div class="error-message" *ngIf="frequence.touched && !frequence.valid && isEditing">
                                    <i class="fas fa-exclamation-circle"></i> La fréquence est requise.
                                </div>
                            </td>
                            <td *ngIf="isEditing">
                                <button type="button" class="btn btn-delete" (click)="removeInfrastructure(i)" title="Supprimer" [disabled]="isLoading">
                                    <i class="fas fa-trash"></i>Supprimer
                                </button>
                                <button class="btn btn-delete" style="color: #a1a100" (click)="openDetailModal(mvt.infrastructure.id)">
                                    <i class="fa fa-info-circle"></i> Detail
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="error-message" *ngIf="detailForm.submitted && !frequencesValid&&isEditing">
                        <i class="fas fa-exclamation-circle"></i> Toutes les fréquences des infrastructures concernées sont obligatoires.
                    </div>
                </div>
                <div class="no-results" *ngIf="selectedItem.mouvementInfras.length === 0">
                    Aucune infrastructure sélectionnée
                </div>
                <div class="error-message" *ngIf="detailForm.submitted && !mouvementInfrasValid&&isEditing">
                    <i class="fas fa-exclamation-circle"></i> Veuillez sélectionner au moins une infrastructure.
                </div>
            </div>
            <div class="form-group col-md-12" [ngClass]="{'form-group-error': detailForm.submitted && !clientValid}">
                <label>Client Concerné <strong style="color: red">*</strong>:</label>
                <div class="input-group-append mb-3" *ngIf="isEditing">
                    <button type="button" class="btn btn-add" (click)="openPopup(clientListModal)" [disabled]="isLoading">
                        <i class="fas fa-users"></i> Sélectionner un Client
                    </button>
                </div>
                <div class="row" *ngIf="selectedItem?.client?.id">
                    <div class="col-md-6 mb-3">
                        <label>Type Client</label>
                        <input type="text" class="form-control" [value]="selectedItem.client.typeClient.typeClient || 'N/A'" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Client</label>
                        <input
                                type="text"
                                class="form-control"
                                [value]="selectedItem.client?.typeClient?.typeClient === 'Entreprise'
                            ? (selectedItem.client?.raisonSociale || 'N/A')
                            : ((selectedItem.client?.nom && selectedItem.client?.prenom)
                               ? selectedItem.client.nom + ' ' + selectedItem.client.prenom
                               : 'N/A')"
                                readonly
                        >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Adresse</label>
                        <input type="text" class="form-control" [value]="selectedItem.client.adresse || 'N/A'" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>CIN</label>
                        <input type="text" class="form-control" [value]="selectedItem.client.cin || 'N/A'" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Contact(s)</label>
                        <input type="text" class="form-control" [value]="selectedItem.client.contacts || 'N/A'" readonly>
                    </div>
                </div>
                <div class="error-message" *ngIf="detailForm.submitted && !clientValid&&isEditing">
                    <i class="fas fa-exclamation-circle"></i> Veuillez sélectionner un client.
                </div>
            </div>
            <div class="form-group col-md-12">
                <label>Date de création</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="selectedItem.dhMouvement" name="dhMouvement" step="1" readonly>
            </div>
            <div class="form-group col-md-12" *ngIf="isReservation" [ngClass]="{'form-group-error': periodeDebut.touched && (!periodeDebut.valid&&isEditing || !datesValid&&isEditing)}">
                <label>Période de début de la réservation du client <strong style="color: red">*</strong></label>
                <input type="datetime-local" class="form-control" [(ngModel)]="selectedItem.periodeDebut" name="periodeDebut" #periodeDebut="ngModel" required [disabled]="!isEditing" (ngModelChange)="validateDates()">
                <div class="error-message" *ngIf="periodeDebut.touched && !periodeDebut.valid&&isEditing">
                    <i class="fas fa-exclamation-circle"></i> Veuillez entrer une date de début valide.
                </div>
                <div class="error-message" *ngIf="periodeDebut.touched && periodeDebut.valid && !datesValid&&isEditing">
                    <i class="fas fa-exclamation-circle"></i> La période de début ne peut pas être postérieure à la période de fin.
                </div>
            </div>
            <div class="form-group col-md-12" *ngIf="isReservation" [ngClass]="{'form-group-error': periodeFin.touched && (!periodeFin.valid&&isEditing || !datesValid&&isEditing)}">
                <label>Période fin de la réservation du client <strong style="color: red">*</strong></label>
                <input type="datetime-local" class="form-control" [(ngModel)]="selectedItem.periodeFin" name="periodeFin" #periodeFin="ngModel" required [disabled]="!isEditing" (ngModelChange)="validateDates()">
                <div class="error-message" *ngIf="periodeFin.touched && !periodeFin.valid&&isEditing">
                    <i class="fas fa-exclamation-circle"></i> Veuillez entrer une date de fin valide.
                </div>
                <div class="error-message" *ngIf="periodeFin.touched && periodeFin.valid && !datesValid&&isEditing">
                    <i class="fas fa-exclamation-circle"></i> La période de fin ne peut pas être antérieure à la période de début.
                </div>
            </div>
            <div class="form-group col-md-12" *ngIf="isReservation" [ngClass]="{'form-group-warning': !capacityValid&&isEditing}">
                <label>Nombre de Personnes</label>
                <input type="number" class="form-control" [(ngModel)]="selectedItem.nombre" name="nombre" [disabled]="!isEditing" (ngModelChange)="validateCapacity()">
                <div class="warning-message" *ngIf="!capacityValid&&isEditing">
                    <i class="fas fa-exclamation-triangle"></i> Le nombre de personnes dépasse la capacité totale des infrastructures ({{ totalCapacity }}).
                </div>
            </div>
            <div class="form-group col-md-12" [ngClass]="{'form-group-error': typeMouvement.touched && !typeMouvement.valid&&isEditing}">
                <label>Type de Mouvement <strong style="color: red">*</strong></label>
                <select class="form-control" [(ngModel)]="selectedItem.typeMouvement.id" name="typeMouvement" #typeMouvement="ngModel" required [disabled]="!isEditing" (ngModelChange)="onTypeMouvementChange()">
                    <option [ngValue]="null">--Sélectionnez le type de mouvement--</option>
                    <option *ngFor="let type of filteredTypeMouvements" [ngValue]="type.id">{{ type.nom }}</option>
                </select>
                <div class="error-message" *ngIf="typeMouvement.touched && !typeMouvement.valid&&isEditing">
                    <i class="fas fa-exclamation-circle"></i> Veuillez sélectionner un type de mouvement.
                </div>
            </div>
        </div>
        <div class="error-message" *ngIf="detailForm.submitted&&isEditing && (!detailForm.valid || !mouvementInfrasValid || !clientValid || !datesValid || !capacityValid || !frequencesValid)">
            <i class="fas fa-exclamation-circle"></i> Veuillez corriger les erreurs dans le formulaire avant de soumettre.
        </div>
        <div class="modal-footer">
            <button *ngIf="!isEditing && selectedItem.typeMouvement.niveauProcessus != 0 && selectedItem.typeMouvement.niveauProcessus != null" type="button" class="btn btn-black" style="background-color: #3e3e3e" (click)="toggleEditMode()" [disabled]="isLoading">
                <i class="fas fa-edit"></i> Modifier
            </button>
            <button *ngIf="!isEditing && selectedItem.typeMouvement.niveauProcessus != 0 && selectedItem.typeMouvement.niveauProcessus != null" type="button" class="btn btn-grey" (click)="modalService.open(confirmClasserModal)" [disabled]="isLoading">
                <i class="fas fa-file-archive"></i> Classer
            </button>
            <button *ngIf="!isEditing && selectedItem.typeMouvement.nom !== 'Renseignement'&& selectedItem.typeMouvement.nom !== 'Classement' " type="button" class="btn btn-eye" (click)="toggleAddFacture()" [disabled]="isLoading">
                <i class="fas fa-plus-circle"></i> Ajouter une facture pour ce mouvement
            </button>
            <button *ngIf="!isEditing && selectedItem.typeMouvement.nom !== 'Renseignement'" type="button" class="btn btn-green" (click)="toggleListFacture()" [disabled]="isLoading">
                <i class="fas fa-file-invoice"></i> Ses factures
            </button>
            <button *ngIf="isEditing" type="submit" class="btn btn-green" [disabled]="detailForm.invalid || !mouvementInfrasValid || !clientValid || !datesValid || !capacityValid || !frequencesValid || isLoading">
                <i class="fas fa-check"></i> Confirmer
            </button>
            <button *ngIf="isEditing" type="button" class="btn btn-grey" (click)="cancelEdit()" [disabled]="isLoading">
                <i class="fas fa-times"></i> Annuler
            </button>
            <button type="button" class="btn btn-red" (click)="activeModal.dismiss('Cancel click')" [disabled]="isLoading"><i class="fas fa-times"></i>Fermer</button>
        </div>
    </form>
</div>

<ng-template #clientListModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Liste des clients</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross Click')" aria-label="Fermer" [disabled]="isLoading">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <app-client-list (clientSelectedChange)="handleClientSelected($event, modal)"></app-client-list>
</ng-template>

<ng-template #infrastructureListModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Liste Des Infrastructures</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <app-infrastructure-list-popup
            (infrastructureSelected)="handleInfrastructureSelected($event, modal)"
            [infrastructureNotInSelections]="infrastructuresNotInSelections"
    ></app-infrastructure-list-popup>
</ng-template>

<ng-template #confirmClasserModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Confirmation de Classement</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Fermer" [disabled]="isLoading">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Voulez-vous vraiment classer ce mouvement ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-red" (click)="modal.dismiss('Cancel click')" [disabled]="isLoading">
            <i class="fas fa-times"></i> Annuler
        </button>
        <button type="button" class="btn btn-green" (click)="classerMouvement(mouvementId);modal.dismiss('Cancel click')" [disabled]="isLoading">
            <i class="fas fa-check"></i> Oui
        </button>
    </div>
</ng-template>

<ng-template #confirmAccorderModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Confirmation d'Accord</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Fermer" [disabled]="isLoading">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Voulez-vous vraiment accorder, c'est-à-dire mettre en occupation cette réservation ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-red" (click)="modal.dismiss('Cancel click')" [disabled]="isLoading">
            <i class="fas fa-times"></i> Annuler
        </button>
        <button type="button" class="btn btn-green" (click)="accorderMouvement(mouvementId);modal.dismiss('Cancel click')" [disabled]="isLoading">
            <i class="fas fa-check"></i> Oui
        </button>
    </div>
</ng-template>