<div class="main-content-dashboard">
   <app-loading [loading]="loading" ></app-loading>

    <div class="content-wrapper" [ngClass]="{ 'loading': loading }">
        <div class="filter-form-container">
            <form #filterForm="ngForm" (ngSubmit)="onFilterSubmit()">
                <div class="form-group">
                    <label for="date1">Date de début</label>
                    <input
                            type="date"
                            id="date1"
                            name="date1"
                            [(ngModel)]="date1"
                            class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="date2">Date de fin</label>
                    <input
                            type="date"
                            id="date2"
                            name="date2"
                            [(ngModel)]="date2"
                            class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="year">Année</label>
                    <input
                            type="number"
                            id="year"
                            name="year"
                            [(ngModel)]="year"
                            min="2000"
                            max="2100"
                            class="form-control"
                    />
                </div>

                <button type="submit" class="btn btn-primary-dashboard">Filtrer</button>
            </form>
        </div>

        <!-- Stats Cards -->
        <div class="stats-container">
            <div class="stat-card" *ngFor="let card of statsCards" [ngClass]="'card-' + card.color">
                <div class="stat-icon">
                    <i [class]="card.icon"></i>
                </div>
                <div class="stat-content">
                    <h3>{{ card.value }}</h3>
                    <p>{{ card.title }}</p>
                </div>
            </div>
        </div>

        <div class="all-graph-container">
            <!-- Pie Chart -->
            <div class="chart-card">
                <h3><i class="now-ui-icons business_chart-pie-36"></i> Etat Statistique des mouvements</h3>
                <div class="chart-wrapper">
                    <canvas #pieChart></canvas>
                </div>
            </div>

            <!-- Line Chart -->
            <div class="chart-card">
                <h3><i class="now-ui-icons business_chart-bar-32"></i> Tableau de bord d'evolution des mouvements</h3>
                <div class="chart-wrapper">
                    <canvas #lineChart></canvas>
                </div>
            </div>
        </div>
        <div class="list-container">
            <div class="table-title-dashboard"><i class="now-ui-icons design_bullet-list-67"></i> Historiques des Mouvements  </div>
            <div class="results-count">Résultats trouvés : {{historiques.length}}</div>
            <div class="filter-form-container">
                <form #filterForm="ngForm" (ngSubmit)="getActivitiesHistoriques()">
                    <div class="form-group">
                        <label>Type Mouvement</label>
                        <select class="form-control" name="typeMouvement" required
                                [(ngModel)]="typeMouvementId"
                        >
                            <option [ngValue]="''" >-- Sélectionner le type de mouvement --</option>
                            <option *ngFor="let type of typeMouvements" [value]="type.id">{{ type.nom }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Categorie d'infrastructures :</label>
                        <select class="form-control" name="categorieInfraId"
                                [(ngModel)]="categorieInfraId"
                        >
                            <option [ngValue]="''" >-- Sélectionner la categorie  --</option>
                            <option *ngFor="let type of categories" [value]="type.id">{{ type.nom }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary-dashboard">Filtrer</button>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-normal" *ngIf="historiques.length > 0">
                    <thead>
                    <tr>
                        <th>Date et Heure</th>
<!--                        <th>matricule</th>-->
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of historiques" class="row-animation">
                        <td class="nom-column">{{ item.dhAction.replace("T" , " " ) || 'N/A' }}</td>
<!--                        <td class="nom-column">{{ item.gestionnaire.agent.matricule || 'N/A' }}</td>-->
                        <td class="nom-column">{{ item.typeMouvement.nom || 'N/A' }}</td>
                    </tr>
                    </tbody>
                </table>
                <div *ngIf="historiques.length === 0" class="no-results">Pas d'historiques </div>
            </div>
        </div>

    </div>
</div>