<div class="modal-header">
    <h5 class="modal-title">Ajouter un Mouvement</h5>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <app-loading [loading]="isLoading"></app-loading>
    <form (ngSubmit)="allActions()">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Type de Mouvement</label>
                <select class="form-control" [(ngModel)]="newItem.typeMouvement.id" name="typeMouvement" (change)="onTypeMouvementChange()">
                    <option [ngValue]="null">--Sélectionnez le type de mouvement--</option>
                    <option *ngFor="let type of filteredTypeMouvements" [ngValue]="type.id">{{ type.nom }}</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label>Infrastructures Concernées :</label>
                <div class="input-group-append mb-3">
                    <button type="button" (click)="openPopup(infrastructureListModal)" class="btn btn-add">
                        <i class="fas fa-building"></i> Sélectionner une Infrastructure
                    </button>
                </div>
                <div class="table-responsive" *ngIf="newItem.mouvementInfras.length > 0">
                    <table class="table table-normal">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Numéro</th>
                            <th>Modèle</th>
                            <th>Catégorie</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let mvt of newItem.mouvementInfras; let i = index">
                            <td>{{ mvt.infrastructure.nom || 'N/A' }}</td>
                            <td>{{ mvt.infrastructure.numero || 'N/A' }}</td>
                            <td>{{ mvt.infrastructure.modeleInfra?.nom || 'N/A' }}</td>
                            <td>{{ mvt.infrastructure.modeleInfra?.catInfra?.nom || 'N/A' }}</td>
                            <td>
                                <button type="button" class="btn btn-delete" (click)="removeInfrastructure(i)" title="Supprimer">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no-results" *ngIf="newItem.mouvementInfras.length === 0">
                    Aucune infrastructure sélectionnée
                </div>
            </div>
            <div class="form-group col-md-12">
                <label>Client Concerné :</label>
                <div class="input-group-append mb-3">
                    <button type="button" class="btn btn-add" (click)="openPopup(clientListModal)">
                        <i class="fas fa-users"></i> Sélectionner un Client
                    </button>
                </div>
                <div class="row" *ngIf="newItem?.client?.id">
                    <div class="col-md-6 mb-3">
                        <label>Type Client</label>
                        <input type="text" class="form-control" [value]="newItem.client.typeClient.typeClient || 'N/A'" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Client</label>
                        <input
                                type="text"
                                class="form-control"
                                [value]="newItem.client?.typeClient?.typeClient === 'Entreprise'
                            ? (newItem.client?.raisonSociale || 'N/A')
                            : ((newItem.client?.nom && newItem.client?.prenom)
                               ? newItem.client.nom + ' ' + newItem.client.prenom
                               : 'N/A')"
                                readonly
                        >
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Adresse</label>
                        <input type="text" class="form-control" [value]="newItem.client.adresse || 'N/A'" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>CIN</label>
                        <input type="text" class="form-control" [value]="newItem.client.cin || 'N/A'" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Contact(s)</label>
                        <input type="text" class="form-control" [value]="newItem.client.contacts || 'N/A'" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12" *ngIf="isReservation">
                <label>Période de début de la réservation du client</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="newItem.periodeDebut" name="periodeDebut">
            </div>
            <div class="form-group col-md-12" *ngIf="isReservation">
                <label>Période fin de la réservation du client</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="newItem.periodeFin" name="periodeFin">
            </div>
            <div class="form-group col-md-12" *ngIf="isReservation">
                <label>Nombre de Personnes</label>
                <input type="number" class="form-control" [(ngModel)]="newItem.nombre" name="nombre">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-grey" (click)="activeModal.dismiss('Cross click')">Annuler</button>
            <button type="submit" class="btn btn-blue" [disabled]="isLoading" title="Enregistrer">
                <i class="fas fa-save"></i> Enregistrer
            </button>
        </div>
    </form>

    <ng-template #clientListModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Liste Des Clients</h5>
            <button type="button" class="close" (click)="modal.dismiss('Cross Click')" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <app-client-list
                [clientSelected]="newItem.client"
                (clientSelectedChange)="handleClientSelected($event, modal)"
        ></app-client-list>
    </ng-template>
    <ng-template #infrastructureListModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Liste Des Infrastructures</h5>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <app-infrastructure-list-popup
                (infrastructureSelected)="handleInfrastructureSelected($event, modal)"
                [infrastructureNotInSelections]="infrastructuresNotInSelections"
        ></app-infrastructure-list-popup>

    </ng-template>
</div>