<div class="main-content">
    <app-loading [loading]="isLoading"></app-loading>
    <div class="table-title" style="color: #FFFFFF">{{titleMonth || 'Mois' }}</div>
    <div class="calendar-controls">
        <label>Calendrier du : </label>
        <input type="date" [(ngModel)]="viewDateString" (ngModelChange)="onDateChange($event)">
        <label> afficher en : </label>
        <select [(ngModel)]="view" (ngModelChange)="view = $event">
            <option [value]="CalendarView.Day">Jour</option>
            <option [value]="CalendarView.Month">Mois</option>
            <option [value]="CalendarView.Week">Semaine</option>
        </select>
    </div>

    <div class="navigation-controls">
        <button (click)="goToPrevious()"><i class="fas fa-arrow-circle-left"></i> </button>
        <button (click)="goToToday()">Aujourd'hui</button>
        <button (click)="goToNext()"><i class="fas fa-arrow-circle-right"></i></button>
    </div>
    <div class="search-form slide-in-out" >
        <form #searchForm="ngForm" (ngSubmit)="loadCalendarData()">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="input-group-append mb-3">
                        <button type="button" (click)="openPopup(infrastructureListModal)" class="btn btn-add">
                            <i class="fa fa-building"></i> Sélectionner une Infrastructure
                        </button>

                    </div>
                </div>
                <div class="form-group col-md-12" *ngIf="infrastructure?.id">
                    <label>Nom</label>
                    <input type="text" class="form-control" [value]="infrastructure.nom || 'N/A'" readonly>
                </div>
                <div class="form-group col-md-12" *ngIf="infrastructure?.id">
                    <label>Numéro</label>
                    <input type="text" class="form-control" [value]="infrastructure.numero || 'N/A'" readonly>
                </div>
                <div class="form-group col-md-12">
                    <label>Modèles</label>
                    <div class="checkbox-group">
                        <div *ngFor="let modele of filteredModeles" class="checkbox-item">
                            <input type="checkbox" [id]="'mod-' + modele.id" [(ngModel)]="modelesInfraSelectionned[modele.id]" name="modele-{{modele.id}}" (ngModelChange)="updateModeleSelection(modele.id)">
                            <label [for]="'mod-' + modele.id">{{ modele.nom }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <button type="button" class="btn btn-red" (click)="deleteSearchForm()"> <i class="fas fa-times"></i>Effacer</button>
                    <button type="submit" style="margin-top: 30px" class="btn btn-search">
                        <i class="fas fa-search"></i>Rechercher
                    </button>
                </div>
            </div>
        </form>
    </div>


    <mwl-calendar-month-view
            *ngIf="view === CalendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            (eventClicked)="handleEventClick($event)"
            (dayClicked)="handleDayClick($event)"
          >
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
            *ngIf="view === CalendarView.Week"
            [viewDate]="viewDate"
            [events]="events">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view
            *ngIf="view === CalendarView.Day"
            [viewDate]="viewDate"
            [events]="events">
    </mwl-calendar-day-view>

</div>

<ng-template #infrastructureListModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Liste Des Infrastructures</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross Click')" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <app-infrastructure-list-popup
            (infrastructureSelected)="handleInfrastructureSelected($event, modal)"

    ></app-infrastructure-list-popup>
</ng-template>